@model IEnumerable<prjShoppingCarAjax.Models.tProduct>
@{
    ViewBag.Title = "新增產品";
    
}

<h2>新增產品</h2>


<form method="post" action="@Url.Action("CreateProduct")" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label for="fPId" class="control-label col-md-2">產品編號</label>
            <div class="col-md-10">
                <input type="text" id="fPId" name="fPId" class="form-control" required />
                <font color="red"> @Session["ProductExisted"]</font>
            </div>
        </div>

        <div class="form-group">
            <label for="newfKind" id="newfKind_btn" class="control-label col-md-2"><fornt class="btn btn-info">新增產品種類</fornt></label>
            <div class="col-md-10">
                <input type="text" id="newfKind" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <label for="fKind" class="control-label col-md-2">產品種類</label>
            <div class="col-md-10">
                <select id="fKind" name="fKind" class="form-control">
                    @foreach (var item in Model)
                    {
                        <option value="@item.fKind">@item.fKind</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="fName" class="control-label col-md-2">產品名稱</label>
            <div class="col-md-10">
                <input type="text" id="fName" name="fName" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label for="fPrice" class="control-label col-md-2">產品價錢</label>
            <div class="col-md-10">
                <input type="text" id="fPrice" name="fPrice" class="form-control" oninput="value=value.replace(/[^\d]/g,'')" required />
            </div>
        </div>

        <div class="form-group">
            <label for="stock" class="control-label col-md-2">庫存</label>
            <div class="col-md-10">
                <input type="text" id="stock" name="stock" class="form-control" oninput="value=value.replace(/[^\d]/g,'')" required />
            </div>
        </div>
        上傳產品照片

        <input type="file" name="fImg" id="fImg" accept="image/gif, image/jpeg, image/png" required />
        <div style="width:245px;height:245px;">
            <img id="preview_progressbarTW_img" src="~/images/nopic.jpg " />
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="新增" class="btn btn-default" />
        </div>


    </div>
</form>