@model prjShoppingCarAjax.Models.tMember

@{
    ViewBag.Title = "會員註冊";

}

<h2>會員註冊</h2>
<button id="FB_login" class="btn btn-large btn-primary" onclick="fb_login();">使用FB註冊</button>

<form action="@Url.Action("Register")" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <span class="control-label col-md-2">帳號</span>
            <div class="col-md-10">
                <input type="text" id="fUserId" name="fUserId" required="required" class="form-control" />
                <font color="red">@ViewBag.Message</font>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">密碼</span>
            <div class="col-md-10">
                <input type="text" id="fPwd" name="fPwd" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">信箱</span>
            <div class="col-md-10">
                <input type="email" id="fEmail" name="fEmail" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">名稱</span>
            <div class="col-md-10">
                <input type="text" id="fName" name="fName" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="註冊" class="btn btn-default" />

            </div>

        </div>
    </div>
</form>
